<div class="container">
    <div class="card">
      <div class="card-header text-center">
        <i class="fa fa-cogs fa-3x" aria-hidden="true"></i>
      </div>
      <div class="card-body text-center">
        <h5 class="card-title">Please Stop!</h5>
        <p class="card-text">This app is under Construction and is still brewing to get more exciting Features! Stay Excited and Kindly await the release date in our Home Page</p>
        <a routerLink="/home" class="btn btn-primary">Go Back</a>
      </div>
    </div>
</div>
