<div class="menu container">
  <div class="row">
    <div class="col-md-1 offset-md-2 col-sm-4 col-6 mr-3">
      <i class="fa fa-book fa-3x pb-2" aria-hidden="true"></i>
      <a routerLink="/kindlehome">Kindle</a>
    </div>
    <div class="col-md-1 col-sm-4 col-6 mr-5">
      <i class="fa fa-truck fa-3x pb-2" aria-hidden="true"></i>
      <a routerLink="/eCart">Shopping</a>
    </div>
    <div class="col-md-1 col-sm-4 col-6 mr-5">
      <i class="fa fa-cutlery fa-3x pb-2" aria-hidden="true"></i>
      <a routerLink="/restaurants">Restaurant</a>
    </div>
    <div class="col-md-1 col-sm-4 col-6 mr-3">
      <i class="fa fa-plane fa-3x pb-2" aria-hidden="true"></i>
      <a routerLink="/air-tickets">Air Ticket</a>
    </div>
    <div class="col-md-1 col-sm-4 col-6 mr-3">
      <i class="fa fa-train fa-3x pb-2" aria-hidden="true"></i>
      <a routerLink="/train-tickets">Train Ticket</a>
    </div>
    <div class="col-md-1 col-sm-4 col-6">
      <i class="fa fa-graduation-cap fa-3x pb-2" aria-hidden="true"></i>
      <a routerLink="/education">Education</a>
    </div>
  </div>
</div>
