<div class="footer-section">
  <div class="row footer">
    <div class="col-md-3 offset-md-2">
      <div class="row left">
        <div class="icon col-md-1">
          <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
        </div>
        <div class="text col-md-11">
          <p>GN/3 ,Kormangala <br />Bangalore ,India</p>
        </div>
      </div>
      <div class="row left">
        <div class="icon col-md-1">
          <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
        </div>
        <div class="text col-md-11">
          <p>+91 1234567890</p>
        </div>
      </div>
      <div class="row left">
        <div class="icon col-md-1">
          <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
        </div>
        <div class="text col-md-11">
          <p>info@demo.com</p>
        </div>
      </div>
    </div>
    <div class="col-md-5 right">
      <h2>About the Company</h2>
      <p>
        AngularJS is a JavaScript-based open-source front-end web framework
        mainly maintained by Google and by a community of individuals and
        corporations to address many of the challenges encountered in developing
        single-page applications.
      </p>
      <i class="fa fa-facebook fa-2x mr-4" aria-hidden="true"></i>
      <i class="fa fa-instagram fa-2x mr-4" aria-hidden="true"></i>
      <i class="fa fa-twitter fa-2x mr-4" aria-hidden="true"></i>
      <i class="fa fa-linkedin fa-2x mr-4" aria-hidden="true"></i>
      <i class="fa fa-google fa-2x mr-4" aria-hidden="true"></i>
      <i class="fa fa-youtube fa-2x mr-4" aria-hidden="true"></i>
    </div>
  </div>
</div>
